{% extends 'base.html' %}

{% block title %}
postmarketOS // real Linux distribution for phones
{% endblock %}

{%block extra_link %}
<link rel="stylesheet" href="/static/css/index.css">
{%endblock%}

{% block body %}
<div class="content">
    <h2>About</h2>
    We are sick of not receiving updates shortly after buying new phones. Sick of the walled gardens deeply integrated into Android and iOS. That's why we are developing a sustainable, privacy and security focused free software mobile OS that is modeled after traditional Linux distributions. With privilege separation in mind. Let's keep our devices useful and safe until they physically break!
    <a class="more-link" href="/blog/2017/05/26/intro/">
        Sounds good, tell me more about the vision
    </a>
    <a class="more-link" href="/blog/2018/04/14/lowlevel/#why-is-proprietary-cellular-firmware-a-problem-again">
        Don't forget to worry about proprietary firmware
    </a>
</div>
<div class="separator"></div>
<div class="content alt">
    <h2>Over 100 Booting Devices</h2>
    <div class="devices">
        <div class="device1">
            <a href="/static/img/nexus5-nature.jpg"><img src="/static/img/nexus5-nature.jpg"></a>
            <h3><a href="https://wiki.postmarketos.org/wiki/Google_Nexus_5_(lg-hammerhead)">
                Google Nexus 5
            </a></h3>

            We've replaced the end-of-life Linux kernel fork from Android <a href="/blog/2018/06/09/one-year/#nexus-5-floss-modem-stack-with-mainline">with a kernel running close to mainline</a>. Proprietary userspace blobs from Android are not necessary to make use of the GPU or connecting to the modem anymore, instead the free software components <a href="https://github.com/freedreno/freedreno/wiki">freedreno</a> and <a href="https://en.wikipedia.org/wiki/OFono">oFono</a> can be used. This allows running <a href="https://plasma-mobile.org">Plasma Mobile</a> (in the picture) and other sophisticated UIs with decent performance.
        </div>
        <div class="device2">
            <a href="/static/img/2018-06/i3-n900.jpg"><img src="/static/img/2018-06/i3-n900.jpg"></a>
            <h3><a href="https://wiki.postmarketos.org/wiki/Nokia_N900">
                Nokia N900
            </a></h3>
            The N900 has been upgraded to use the mainline kernel as well. While its RAM size and CPU power is surely limited, the attached hardware keyboard still makes it a great minimal hacking device. After all, keyboard-optimized interfaces (such as <a href="https://i3wm.org/">i3</a>, in the picture) and terminal applications are known to be lightweight. <a href="https://xfce.org">XFCE4</a> is another UI that works fine with it.
        </div>
    </div>

    <a class="more-link" href="https://wiki.postmarketos.org/wiki/Devices">
        Show me all devices
    </a>
    <a class="more-link" href="https://wiki.postmarketos.org/wiki/Porting_to_a_new_device">
        Give me that battle tested porting guide
    </a>

    <a class="more-link" href="https://wiki.postmarketos.org/wiki/QEMU">
        Tell me how to spin it up in a VM on my PC
    </a>


</div>
<div class="separator"></div>
<div class="content">
    <h2>What others say</h2>

    <div class="quote">
    "postmarketOS, Plasma Mobile's favorite platform, is now 1 year old! In one year, development has been astounding, and pmOS is shaping up to be THE through and through Free mobile distro of the future."
    </div>
    <a href="https://twitter.com/kdecommunity/status/1006084098631364608">KDE Community, 2018-06-11</a>
</div>
<div class="separator"></div>
<div class="content alt">
    <h2>Architecture</h2>
    We avoid Android's build system entirely. Instead of building a monolithic system image for each and every device, the whole OS is divided into small packages. These same package binaries can be installed on all devices that share the same CPU architecture. Device specific parts are kept as minimal as possible, ideally there is only one <a href="https://wiki.postmarketos.org/wiki/Device_specific_package">device package</a>. In practice there is often the <a href="https://wiki.postmarketos.org/wiki/Vendor_kernel_specific_package">downstream Linux kernel</a> too, but we are trying to replace those with the <a href="https://wiki.postmarketos.org/wiki/Mainlining_Guide">mainline kernel</a> wherever possible. In the spirit of most other Linux distributions, <a href="https://wiki.postmarketos.org/wiki/Category:Interface">multiple user interfaces</a> from upstream projects are packaged for postmarketOS, such as <a href="https://plasma-mobile.org">Plasma Mobile</a> and Hildon from <a href="https://maemo-leste.github.io/">Maemo Leste</a>.
    <br>
    <br>
    postmarketOS is based on <a href="https://alpinelinux.org">Alpine Linux</a>, which is so tiny (less than 10 MB in size) that development of pmOS can be done quickly on <i>any</i> Linux distribution. We install Alpine in multiple chroots to cross compile packages, build and flash postmarketOS, run it in a VM with <a href="https://wiki.postmarketos.org/wiki/QEMU">QEMU</a> or interactively <a href="https://wiki.postmarketos.org/wiki/Porting_to_a_new_device">port new hardware</a>. All with our lightweight Python script <a href="https://gitlab.com/postmarketOS/pmbootstrap">pmbootstrap</a>, without installing anything on the host system. Writing packages is easy, by the way: as long as you know how to write shell scripts, you are good to go. We have continuous integration in place that makes sure everything builds that gets submitted to <a href="https://gitlab.com/postmarketOS/pmaports/">our packages repository</a>, among other sanity checks.
    <br>
    <br>
    The above design decisions make it feasible to keep the system up-to-date, for all devices at once! Compared to Android, it makes development more efficient and democratic: <a href="/blog/2017/12/31/219-days-of-postmarketOS/#binary-repository">you don't need to afford a powerful and expensive PC</a> to rebuild the entire OS. Just build the tiny part that you are interested in modifying.
    <br>
    <br>
    Speaking of modifying, due to the free software nature of the project, you can change pretty much everything. We don't even require running proprietary Android userspace drivers. In fact all proprietary components (even the WLAN, cellular modem and bluetooth firmware) are optional and you are asked whether you want to include them in your installation. The plan is to binary patch security issues in proprietary firmware with programs like <a href="https://github.com/nexmon">nexmon</a> one day, or even straight <a href="/blog/2018/04/14/lowlevel/">liberation with free software</a>.
</div>

{% endblock %}
